<%- include("headAdm.ejs") %>
<h1 class="text-2xl text-hijau font-bold md:text-4xl md:leading-tight pt-5 pb-12"><%= title %></h1>
<!-- Table -->
<div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="border rounded-lg overflow-hidden">

            </div>
        </div>
    </div>
</div>
<!-- End Table -->
<script src="/preline.js"></script>
</body>
</html>
