<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body style="background-image:url(./RektoratView2.jpg); background-size: cover;">

    <!-- Hero -->
    <main id="content" class="w-full max-w-md mx-auto p-6 pt-0">

        <div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm">
            <div class="p-4 sm:p-7">
                <div class="text-center">
                    <h1 class="block text-2xl font-bold text-gray-800">Reset Password</h1>
                </div>

                <div class="mt-5">
                    <!-- Form -->
                    <form method="post" action="/auth/reset-password" onsubmit="return cekPassword()">
                        <div class="grid gap-y-4">
                            <div>
                                <label for="password" class="block text-sm mb-2">New Password</label>
                                <input type="password" id="password" name="password"
                                    class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50"
                                    required>
                                <input type="email" name="email" value="<%= email %>" hidden>
                            </div>
                            <div>
                                <label for="confirm-password" class="block text-sm mb-2">Confirm Password</label>
                                <input type="password" id="confirm-password" name="confirm-password"
                                    class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50"
                                    required>
                            </div>
                            <button type="submit"
                                class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">Reset
                                Password</button>
                        </div>
                    </form>
                    <!-- End Form -->
                </div>
            </div>
        </div>
    </main>

    <script>
        function cekPassword() {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm-password').value;

            if (password !== confirmPassword) {
                alert('Password dan confirm password tidak sama');
                return false;
            }
            return true;
        }
    </script>

    <script src="preline.js"></script>
</body>

</html>